<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.software.picture_in_picture"
        android:required="true" />

    <application
        android:name=".Services.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JamPlayer"
        tools:targetApi="31">
        <service
            android:name=".Services.ShowNewFileService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ForegroundServicePermission" />

        <activity
            android:name=".Activities.Vedios.EditVideoTagsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Vedios.ShowVideoAlbumsVideosActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Vedios.VideoAlbums"
            android:exported="false" />
        <activity
            android:name=".Activities.Vedios.PlayVideosActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".Activities.Songs.SelectPlaylistSongsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.ShowPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.EditTagsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.ShowFeedbackConversationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.UserFeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.ThemesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.PlayingTimeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.HiddenFilesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.ShowAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.SplachActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Songs.PlayingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Songs.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Services.MusicPlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name=".Services.VideoPlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>